



nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #4682B4; /* Darker blue color on hover */
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}



.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar input{
    border: 2px solid rgb(190, 174, 174);
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

 
/* Contact section*/
  .contact{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    margin: 20px;
    margin-bottom: 30px;

}
body {
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
.form-group .radio-group {
    display: flex;
    gap: 10px;
}
.form-group .radio-group label {
    cursor: pointer;
}
.form-group .checkbox-group {
    display: flex;
    gap: 10px;
}
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit{
    margin-top: 30px;
    font-family: monospace;
    width: 70px;
    height: 40px;
    
}

/*About section*/

.center{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin:80px;
}
body {
    font-family:monospace;
    text-align: center;
}

.card {

    width: 320px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    display: inline-block;
    margin-left: 30px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 0 0 10px 0;
}

.card p {
    margin: 0 0 10px 0;
}

.card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.card button:hover {
    background-color: #45a049;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3f7ab9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 /*Home Section*/
 .container {
    max-width: 600px;
    margin: 0 auto;
}